


body {

    font-family: 'Lato', sans-serif;
    justify-content: center;
    height:100vh
}


h1 {
    letter-spacing: 2.5px;
    justify-content: center;
    padding-left: 20px;
}

div .searchbar {
    justify-content: center;
    width: 20rem;
    border: none;
    border-radius: 100%;
    padding-left: 20px;
}

header{
    background-color: rgb(85, 132, 189);
    padding-bottom: 30px
}

img{
margin:10px 5px;
}